body {
  background-color: #141414f6;
}
h1,
h2,
h3,
p {
  color: white;
}
pre {
  color: white;
  font-size: 115%;
}
table,
th,
td {
  border: 1px solid rgb(149, 248, 255);
  color: white;
  text-align: center;
  border-collapse: collapse;
}
li {
  color: white;
  font-size: 105%;
}
fieldset {
  color: white;
  border: 0px;
}
input,
select,
textarea {
  background-color: #141414f6;
  color: white;
  border: 0.1px solid;
}

legend {
  font-size: 110%;
}
